# ------------------------
# Dependencies
# ------------------------
node_modules/

# ------------------------
# Build / Dist
dist/
build/

# ------------------------
# Env Files
.env*
.env.* 

# ------------------------
# Logs
*.log

# ------------------------
# OS / Misc
.DS_Store
*.pem
